.radio-inputst {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    font-size: 14px;
}

.radio-inputst .radio {
    flex: 1 1 auto;
    background-color: #959595;
    text-align: center;
}

.radio-inputst .radio input {
    display: none;
}

.radio-inputst .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: .5rem 0;
    color: #000000;
    background-color: #959595;
    transition: all .15s ease-in-out;
}

.radio-inputst .radio .name:hover {
    color: #959595;
    background-color: #000000;
}

.radio-inputst .radio input:checked+.name {
    color: #f3f1ff;
    background-color: #000000;
}